*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    color: black;
    font-family: 'Maiandra GD', sans-serif;
    font-size: 17px;
    font-weight: normal;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: lightskyblue;
}

ul {
    list-style-type: none;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
}



/* ===================== 
    Header 
===================== */

header {
    height: 633px;
    background-color: #2f8a8a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #263131;
    /* background: linear-gradient(to right, #2eb98a, #37c1c1); */
    background: linear-gradient(to right, #26d99c, #56e3e3);
    background: url('../images/normal/sleep.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

header > * {
    position: relative;
    /* z-index: 2; */
}

header::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header .wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-menu { /* Navigation menu */
    border: 1px solid #25b0a8;
    position: fixed;
    height: 100%;
    width: 0; /* 135px; */
    visibility: hidden;
    background-color: #25b0a8;
    transition: all 0.4s linear 0s;
    z-index: 10;
}

.nav-menu nav {
    width: 100%;
    padding-top: 41px;
    position: relative;
}

a.command {
    font-size: 23px;
    display: table;
    position: fixed;
    top: 16px;
    /* padding: 3px 4px; */
    left: 53px;
    z-index: 12;

    /* border: 1px solid white; */
    border-radius: 50%;
    width: 40px;
    text-align: center;
    height: 40px;
    background-color: #1fbbaa;
    color: #fff;
    cursor: pointer;
}

.command:hover {
    background-color: lightsteelblue;
}

a.command i {
    display: table-cell;
    vertical-align: middle;
}

nav ul li a {
    color: #fff;
    display: block;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid white;
}

nav ul li:first-child a {
    border-top: 1px solid white;
}

nav ul li a:hover {
    background-color: #349ae1;
    color: #fff;
}

.social-share {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
}

.social-share a {
    color: #fff;
    margin: 10px;
    font-size: 25px;
}

.social-share a:hover {
   color: #c3e5ec;
}

.banner-content {
    z-index: 0;
}

header h1 {
    text-transform: uppercase;
    font-size: 74px;
    margin: 0;
}

header p {
    margin: 0;
}

.cta {
    margin: 82px 0 5px;
}

.more {
    color: white;
    border: 2px solid white;
    padding: 15px 40px;
    border-radius: 28px;
    display: block;
}

.more:hover {
    border-color: lightsteelblue;
    background-color: lightsteelblue;
}

/* =====================
    Process section
===================== */

.process {
    /* height: 633px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #7cbdf7;
    color: white;
    background: linear-gradient(to right, #63c6ee, #2cccc3);
    padding: 60px 0;
}

.process .wrap {
    flex-direction: column;
    align-items: center;
}

.process-meta {
    height: 194px; /* 316px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.process-list {
    display: flex;
    flex-wrap: wrap;
    /* height: 316px; */
    color: white;
    padding: 54px 25px;
}

.process-list > div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 33%; */
    flex: 0 0 33%;
    padding: 15px;
}

/* .process-list > :nth-child(1) {
    background-color: #c81345;
    background: linear-gradient(120deg, #f45b5b, #f0668b);
} */

.process-list > :nth-child(2) {
    /* background-color: seagreen; */
    /* width: 34%; */
    flex: 0 0 34%;
    /* background: linear-gradient(to right, #63c6ee, #2cccc3); */
}

/* .process-list > :nth-child(3) {
    background-color: #3b8bd9;
    background: linear-gradient(to right, #6faae3, #a3dff2);
} */

.icon i {
    font-size: 43px;
}

.process-list > div h3 {
    font-size: 33px;
    text-transform: uppercase;
}



/* ===================== 
    Work section 
===================== */

.work {
    background-color: #f2f3f5; /* #788899; */
    color: #404040;
    /* background: linear-gradient(to right, #a0aebd, #90a6bd); */
}

.work .wrap {
    flex-direction: column;
    padding: 20px 0 70px;
}

.work-meta {
    text-align: center;
    padding: 25px;
}

.work-list {
    width: 100%;
}

.gallery-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery-buttons ul {
    display: flex;
}

.gallery-buttons ul li a {
    display: block;
    padding: 15px 20px;
    margin: 10px 5px;
    background-color: #404040;
    color: #fff;
    border-radius: 7px;
}

.gallery-buttons ul li a:hover {
    background-color: lightsteelblue;
    color: #fff;
}

.gallery-buttons ul li.active a {
    background-color: #fff;
    color: #000; /* a:hover est surchargé, ce qui est une bonne chose */
}

.work-list-up, .work-list-down {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-list-up > div, .work-list-down > div {
    width: 19%;
    margin: 11px;
    box-shadow: 1px 1px 3px #605a5a; /* Intéressant ! 
        Cela donne un effet d'ombre sympa*/
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.work-list-up > div img, .work-list-down > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-overlay {
    display: flex;
    position: absolute;
    background-color: #403f3f;
    top: 100%;
    left: 10px;
    right: 10px;
    bottom: 0px;
    opacity: 0;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all 0.4s ease;
}

.img-overlay i {
    color: white;
    font-size: 25px;
    background-color: #242424;
    padding: 8px 10px;
    text-align: center;
    visibility: hidden;
    transition: all 0.2s ease;
}

/* hover on img AND on the overlay */
.img-overlay:hover {
    visibility: visible;
    top: 10px;
    bottom: 10px;
    opacity: 0.8;
}

.work-list-up > div img:hover + .img-overlay, 
.work-list-down > div img:hover + .img-overlay {
    visibility: visible;
    top: 10px;
    bottom: 10px;
    opacity: 0.8;
}

.img-overlay:hover i {
    visibility: visible;
}

.work-list-up > div img:hover + .img-overlay i, 
.work-list-down > div img:hover + .img-overlay i {
    visibility: visible;
}

/* =====================
    Testimonials section 
===================== */

.testimonial {
    height: 400px;
}

.testimonial .wrap {
    height: 100%;
    flex-wrap: wrap;
}

.left {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
}

.left i {
    font-size: 54px;
}

.commentator {
    text-align: right;
}

.right {
    background-color: #566666;
    color: #fff;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
}

.testi-meta {
    text-align: center;
}

.left, .right,
.contact-meta, .contact-form {
    padding: 50px 25px;
}

/* =====================
    Contact 
===================== */

.contact-meta {
    /* width: 50%; */
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: #fff;
    flex: 0 0 50%;
    text-align: center;
}

.contact-meta h2 {
    font-size: 40px;
}

.contact-meta p {
    font-size: 17px;
}

.contact-form {
    /* width: 50%; */
    padding: 30px;
    flex: 0 0 50%;
}

.contact-form form {
    border: 2px solid #a4a4a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    border-radius: 8px;
    padding: 26px;
    background-color: gainsboro;
}

.contact-form form input,
.contact-form form p textarea {
    width: 262px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #d7d7d7;
    color: gray;
}

.contact-form form p textarea {
    height: 162px;
    max-width: 262px;
}

.contact-form input[type="submit"] {
    background-color: cornflowerblue;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: lightsteelblue;;
}

/* =====================
    Footer 
===================== */

footer {
    background-color: #2f8a8a;
    color: #fff;
}

footer .wrap {
    padding: 20px; 
}


/* =====================
    Responsive 
===================== */
@media (max-width: 992px) {
    .process-list > div,
    .process-list > :nth-child(2) {
        flex: 0 0 50%;
    }
}

@media (max-width: 950px) {
    .contact-form form {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .process-list > div,
    .process-list > :nth-child(2) {
        flex: 0 0 100%;
    }

    .testimonial {
        height: auto;
    }

    .left, .right,
    .contact-meta, .contact-form {
        flex: 0 0 100%;
        /* padding: 50px 25px; */
    }

    .contact-form form {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .contact-form form {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .contact-form p,
    .contact-form form input, 
    .contact-form form p textarea {
        width: 100%;
    }
 
    .contact-form form p textarea {
        max-width: 260px;
    }
}
